body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:380px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:667px;
  width:375px;
  height:380px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:131px;
  width:1280px;
  height:800px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:275px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:1001px;
  width:1280px;
  height:275px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:340px;
  height:527px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u131.a {
}
#u131_img.a {
}
#u132.a {
}
#u133.a {
}
#u133_img.a {
}
#u134.a {
}
#u135.a {
  left:0px;
  top:0px;
}
#u135_img.a {
}
#u136.a {
}
#u137.a {
  left:0px;
  top:800px;
}
#u137_img.a {
}
#u138.a {
}
#u139.a {
  left:80px;
  top:210px;
  width:1120px;
  height:590px;
}
