body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:380px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:667px;
  width:375px;
  height:380px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:131px;
  width:1280px;
  height:800px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:275px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:1001px;
  width:1280px;
  height:275px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:340px;
  height:527px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u181.a {
}
#u181_img.a {
}
#u182.a {
}
#u183.a {
}
#u183_img.a {
}
#u184.a {
}
#u185.a {
  left:0px;
  top:0px;
}
#u185_img.a {
}
#u186.a {
}
#u187.a {
  left:0px;
  top:800px;
}
#u187_img.a {
}
#u188.a {
}
#u189.a {
  left:80px;
  top:210px;
  width:1120px;
  height:590px;
}
